@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

nav ul > li::after {
    content: "/";
    color: #ffffff;
}

nav ul > li:last-child::after {
    content: "";
}

.group:hover .group-hover\:block {
    display: block !important;
}

body > header {
    background: url(/assets/images/dropdown_bg.png) center top repeat;
}

.content > pre {
    overflow: auto;
    @apply mb-5 bg-gray-800 text-white p-4;
}

.content > p {
    @apply text-base text-gray-700 mb-5;
}

.content > ul {
    @apply list-disc list-inside;
}

footer.footer {
    background: url(/assets/images/footer_arrow.png) center top no-repeat,url(/assets/images/dropdown_bg.png) center top repeat;
}